/* Error: There is no module with the namespace "base".
 *    ,
 * 77 |     @include base.btn;
 *    |     ^^^^^^^^^^^^^^^^^
 *    '
 *   _base.scss 77:5        btn()
 *   email-style.scss 60:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "base".\a    \2577 \a 77 \2502      @include base.btn;\a    \2502      ^^^^^^^^^^^^^^^^^\a    \2575 \a   _base.scss 77:5        btn()\a   email-style.scss 60:7  root stylesheet';
}
