@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');

* *::before *::after{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: poppins;
    overflow-x: hidden;
}

body>section{
    min-height: 100vh;
}

a{
    cursor: pointer;
    
    text-decoration: none;
}

.header--right, 
.header--left,
.header--right--notification{
    display: inline-block;
}

.header{
    display: grid;
    grid-template-columns: 6% 94%;
    height: 2.5rem;
}

.header--left{
    justify-content: center;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #2d2b80;
    align-items: center;
    background-color: #191847;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    font-size: 18px;
}

.header--right{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    height: 100%;
}

.header--right .arrow-right{
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
}

.header--right--notification{
    position: relative;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.header--right--notification .bell{
    width: 15px;
}

.header--right--notification::after{
    content: "4";
    color: white;
    position: absolute;
    right: 0;
    background-color: #EB5757;
    top: -5px;
    right: -3px;
    height: 30%;
    font-size: 8px;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header--right .profile-picture{
    width: 25px;
    padding-right: 20px;
}

.dashboard{
    display: grid;
    grid-template-columns: 5% 14% 81%;
}

.dashboard--menu--farleft,
.dashboard--menu--closeleft{
    background-color: #191847;
}

.dashboard--menu--farleft ul,
.dashboard--menu--closeleft ul{
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    margin-top: 3.8rem;
}

.dashboard--menu--farleft li,
.dashboard--menu--farleft li a,
.dashboard--menu--closeleft li{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
}

.dashboard--menu--farleft li:first-child{
    border-left: solid 2px #F5F6F9;
    background-color: #100F38;
}

.dashboard--menu--closeleft li:first-child{
    background-color: #100F38;
}

.dashboard--menu--farleft li svg{
    width: 20px;
    height: 20px;
}

.dashboard--menu--closeleft ul{
    text-align: center;
    font-size: 15px;
}

.dashboard--menu--closeleft li{
    justify-content: flex-start;
    padding-left: 1rem;
}

.dashboard--menu--closeleft li a{
    color: #F5F6F9;
    text-decoration: none;
}

.dashboard--view{
    background-color: #E5E5E5;
    position: relative;
    z-index: 10;
}

.dashboard--view.sitting-human::after{
    content: "";
    position: absolute;
    top: 3rem;
    right: -3rem;
    width: 60%;
    height: 80%;
    background-image: url(assets/sitting\ human.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dashboard--view--welcome{
    margin-top: 8rem;
    padding-left: 3rem;
}

.dashboard--view h2{
    color: #4834D4;
    position: relative;
    z-index: 1;
    font-size: 32px;
}

.dashboard--view h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 8%;
    height: 25%;
    background-color: #4834D4;
    opacity: 0.3;
}

.dashboard--view p{
    margin: 0;
}

#Dashboard a{
    display: inline-block;
    margin-top: 3rem;
    background-color:#4834D4;
    text-decoration: none;
    color: #FEFEFE;
    width: 10rem;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.01rem;
    font-size: 18px;
    border-radius: 4px;
    font-family: karla;
}

/*For Small Menu*/

.header.small-menu{
    display: grid;
    grid-template-columns: 19% 81%;
}


.header--left .big-menu.small-menu{
    display: none;
}

.header--right .arrow-right.small-menu{
    transform: rotate(180deg);
}

.dashboard.small-menu{
    grid-template-columns: 6% 0 94%;
}

.dashboard--menu--farleft.small-menu li {
    justify-content: center;
}

.dashboard--view--welcome.small-menu,
.menu-item-view.small-menu{
    padding-left: 5rem;
}

.menu-item-view.small-menu{
    gap: 2rem;
}

.editor-section.small-menu{
    padding-left: 5rem;
}

/*menu-item-view*/
.menu-item-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    padding: 3rem;
    gap: 1.5rem;
}

.menu-item-view--heading{
    grid-column: 1/ span 3;
    margin: 0;
    
}

h2.menu-item-view--heading{
    font-size: 28px;
}

.menu-item-view--heading::before{
    display: none;  
}

.menu-item-view--card{
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #EDEEF0;
    height: 77%;
}

.menu-item-view--card:hover{
    border-color: #4834D4;
}

.menu-item-view .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*colors*/
.light-pink{
    background-color: rgba(235, 87, 87, 0.3);
}

.light-green{
    background-color: rgba(111, 207, 151, 0.3);
}

.light-yellow{
    background-color: rgba(242, 201, 76, 0.3);;
}

.light-purple{
    background-color: rgba(155, 81, 224, 0.3);
}

.light-peach{
    background: rgba(242, 153, 74, 0.3);
}

.dashboard--menu--closeleft li a.purple{
    fill: #4834D4;
    color: #4834D4;
}

.menu-item-view--card-heading{
    font-size: 18px;
}

.menu-item-view--card-heading{
    font-size: 18px;
    font-weight: 900;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    color: #000000;
}

.menu-item-view--card-description{
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}



/*switching menu-items(now deprecated, lol)*/
.no-display{
    display: none;
}

.dashboard--view::after.no-display{
    display: none;
}

/*editor page*/
.editor-section{
    background-color: #E5E5E5;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    z-index: 10;
}

.editor-section a{
    display: inline-block;
}

.editor-section--description h2{
    color: #4834D4;;
    font-size: 28px;
    margin-bottom: 0;
}

.editor-section--description p{
    color: #191847;
    font-size: 18px;
    white-space: pre-line;
    margin-top: 0.6rem;
}

.editor-section--control-top{
    margin-bottom: 2rem;
}

.editor-section--control-top input,
.editor-section--control-top a,
.editor-section--control-bottom a{
    padding: 0.7rem 0.9rem;
    font-size: 18px;
}

.editor-section--control-top input{
    border: 1px solid #CDC6FF;
}

.editor-section--control-top input::placeholder{
    color: #4834D4;
    opacity: 0.5;
}

.editor-section--control-top a{
    float: right;
}

.editor-section--control-top a.first,
.editor-section--control-bottom a.first,
.editor-section--control-bottom a.second{
    background-color: #4834D4;
    color: #FEFEFE;
    border-radius: 4px;
    margin-right: 1.5rem;
    letter-spacing: 0.0125em;
    font-family: Karla;
}

.editor-section--control-bottom{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.editor-section--control-top a.second{
    background-color: #F29401;
    border-radius: 4px;
    letter-spacing: 0.0125em;
    font-family: Karla;
    color: #FEFEFE;
}

.editor{
    height: 10rem;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 12px 15px;
}

.ql-editor{
    padding: 0;
    white-space: pre-line;
}

/*quill editor menu*/
.ql-toolbar.ql-snow {
    background-color: #ffffff;
    border: 1px solid #CDC6FF;
}
/*float code block to the right*/
.ql-toolbar.ql-snow .ql-formats:last-child{
    float: right;
    margin-right: 20px;
}



.editor-section--control-bottom a.second{
    color: #4834D4;
    border: 1px solid #4834D4;
    background-color: #ffffff;
}

/*add section*/
.editor-section-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(25, 24, 71, 0.2);
    display: none;
    z-index: 20;
}

.editor-section-overlay--add-section,
.editor-section-overlay--add-template{
    background-color: #ffffff;
    position: absolute;
    right: 1rem;
    top: 2rem;
    width: 35%;
    padding: 0 0 0 2rem;
    transition: transform 0.5s ease-out;
    transform: translateX(120%);
}


.editor-section-overlay--add-section .heading,
.editor-section-overlay--add-template .heading{
    height: 2.5rem;   
    display: flex;
    align-items: center;
    position: relative;
}

.editor-section-overlay--add-section .heading span,
.editor-section-overlay--add-template .heading span{
    font-size: 15px;
    color: #4834D4;
    font-weight: 600;   
}

.editor-section-overlay--add-section .close,
.editor-section-overlay--add-template .close{
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4rem;
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    padding-right: 7%;
    position: relative;
    font-size: 10px;
}

.section--name{
    display: flex;
    color: #191847;
    align-items: center;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    z-index: 50;
    font-size: 15px;
}

.section--name .arrow{
    position: absolute;
    right: 0;
}

/*for clicks*/
.section--templates{
    display: none;
    position: absolute;
    background-color: #ffffff;
    left: -7%;
    z-index: 100;
    font-size: 14px;
    padding: 0 7% 0 7%;
    overflow-y: visible;
}

.open{
    display: block;
}

.add-border-bottom{
    border-bottom: 1px solid #4834D4;
}

.rotate-90deg{
    transform: rotate(90deg);
}

.slide-in{
    transform: translateX(0);
}

.display{
    display: block;
}

/*Clearfloats*/
.clearfix::after{
    content: "";
    visibility: hidden;
    height: 0;
    clear: both;
    display: block;
}

.section--templates--control-bottom{
    margin: 4rem 0 3rem;
}

.section--templates--control-bottom a{
    border-radius: 4px;
    padding: 0.8rem 2rem;
    margin-right: 1rem;
    font-weight: bold;
}

.section--templates--control-bottom .templates-back{
    background-color: #F29401;
    color: #ffffff;
}

.section--templates--control-bottom .templates-close{
    border: 1px solid #4834D4;
    color: #4834D4;
}