@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');

* *::before *::after{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: poppins;
    overflow-x: hidden;
    margin: auto;
    max-width: 4000px;
}

body>section{
    min-height: 100vh;
}

a{
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.header--right, 
.header--left,
.header--right--notification{
    display: inline-block;
}

.header{
    display: grid;
    grid-template-columns: 6% 94%;
    height: 2.5rem;
}

.header--left{
    justify-content: center;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #2d2b80;
    align-items: center;
    background-color: #191847;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900;
    font-size: 18px;
}

.header--right{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    height: 100%;
}

.header--right .arrow-right{
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
}

.header--right--notification{
    position: relative;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.header--right--notification .bell{
    width: 15px;
}

.header--right--notification::after{
    content: "4";
    color: white;
    position: absolute;
    right: 0;
    background-color: #EB5757;
    top: -5px;
    right: -3px;
    height: 30%;
    font-size: 8px;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--right .profile-picture{
    width: 25px;
}

.profile{
    position: relative;
}

.header--right .profile-arrow{
    padding-right: 20px;
    padding-left: 10px;
}

.header--right .profile-arrow svg{
    transform: rotate(90deg);
    cursor: pointer;
}

.header--right .profile-arrow svg.log-out-open{
    transform: rotate(-90deg);
}

.header--right .log-out{
    position: absolute;
    z-index: 20;
    top: 130%;
    color: #4834D4;
    border: 1px solid #4834D4;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 1.5rem;
    letter-spacing: 0.0125em;
    font-family: Karla;
    display: none;
    right: -40%;
    left: -60%;
    margin: 0;
    text-align: center;
    font-size: 18px;
    padding: 17% 20%;
}

.header--right .log-out.log-out-open{
    display: inline-block;
}

.dashboard{
    display: grid;
    grid-template-columns: 5% 15% 80%;
}

.dashboard--menu--farleft,
.dashboard--menu--closeleft{
    background-color: #191847;
}

.dashboard--menu--farleft ul,
.dashboard--menu--closeleft ul{
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    margin-top: 3.8rem;
}

.dashboard--menu--farleft li,
.dashboard--menu--farleft li a,
.dashboard--menu--closeleft li{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
}

.dashboard--menu--farleft li:first-child{
    border-left: solid 2px #F5F6F9;
    background-color: #100F38;
}

.dashboard--menu--closeleft li:first-child{
    background-color: #100F38;
}

.dashboard--menu--farleft li svg{
    width: 20px;
    height: 20px;
}

.dashboard--menu--closeleft ul{
    text-align: center;
    font-size: 15px;
}

.dashboard--menu--closeleft li{
    justify-content: flex-start;
    padding-left: 1rem;
}

.dashboard--menu--closeleft li a{
    color: #F5F6F9;
    text-decoration: none;
}

.dashboard--view,
.saved-scripts,
.menu-item-view-container{
    background-color: #E5E5E5;
    position: relative;
    z-index: 10;
}

.dashboard--view.sitting-human::after{
    content: "";
    position: absolute;
    top: 3rem;
    right: -3rem;
    width: 60%;
    height: 80%;
    background-image: url(assets/sitting\ human.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.dashboard--view--welcome{
    margin-top: 8rem;
    padding-left: 3rem;
}

.dashboard--view h2,
.menu-item-view-container h2,
.saved-scripts-heading{
    color: #4834D4;
    position: relative;
    z-index: 1;
    font-size: 32px;
}

.dashboard--view h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
    width: 8%;
    height: 25%;
    background-color: #4834D4;
    opacity: 0.3;
}

.dashboard--view p,
.menu-item-view-container p{
    margin: 0;
}

#Dashboard a{
    display: inline-block;
    margin-top: 3rem;
    background-color:#4834D4;
    text-decoration: none;
    color: #FEFEFE;
    width: 10rem;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 0.01rem;
    font-size: 18px;
    border-radius: 4px;
    font-family: karla;
}

/*For Small Menu*/

.header.small-menu{
    display: grid;
    grid-template-columns: 20% 80%;
}


.header--left .big-menu.small-menu{
    display: none;
}

.header--right .arrow-right.small-menu{
    transform: rotate(180deg);
}

.dashboard.small-menu{
    grid-template-columns: 6% 0 94%;
}

.dashboard--menu--farleft.small-menu li {
    justify-content: center;
}

.dashboard--view--welcome.small-menu
{
    padding-left: 5rem;
}

.menu-item-view.small-menu{
    gap: 2rem;
    overflow-x: auto;
}

.editor-section.small-menu{
    padding-left: 5rem;
}

/*menu-item-view*/
.menu-item-view{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 3rem;
    gap: 1.5rem;
}

.menu-item-view--heading{
    grid-column: 1/ -1;
    margin: 0;
    
}

h2.menu-item-view--heading,
.saved-scripts-heading{
    font-size: 28px;
}

.menu-item-view--heading::before{
    display: none;  
}

.menu-item-view--card{
    background-color: #ffffff;
    padding: 1.5rem;
    border: 1px solid #EDEEF0;
}

.menu-item-view--card:hover{
    border-color: #4834D4;
}

.menu-item-view .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*colors*/
.light-pink{
    background-color: rgba(235, 87, 87, 0.3);
}

.light-green{
    background-color: rgba(111, 207, 151, 0.3);
}

.light-yellow{
    background-color: rgba(242, 201, 76, 0.3);;
}

.light-purple{
    background-color: rgba(155, 81, 224, 0.3);
}

.light-peach{
    background: rgba(242, 153, 74, 0.3);
}

.dashboard--menu--closeleft li a.purple, .offer .purple{
    fill: #4834D4;
    color: #4834D4;
}


.menu-item-view--card-heading{
    font-size: 18px;
}

.menu-item-view--card-heading{
    font-size: 18px;
    font-weight: 900;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    color: #000000;
}

.menu-item-view--card-description{
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}



/*switching menu-items(now deprecated, lol)*/
.offer .step4 .add-bonus.no-display,
.no-display{
    display: none;
}

.dashboard--view::after.no-display{
    display: none;
}

/*editor page*/
.editor-section,
.video-script-section,
.offer-generator-section,
.success-message-section{
    background-color: #E5E5E5;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}

.editor-section a{
    display: inline-block;
}

.editor-section--description h2,
.video-script-section h2,
.offer-generator-section h2{
    color: #4834D4;;
    font-size: 28px;
    margin-bottom: 0;
}

.editor-section--description p,
.video-script-section p{
    color: #191847;
    white-space: pre-line;
    font-size: 18px;
    margin-top: 0.6rem;
}

.editor-section--control-top{
    margin-bottom: 2rem;
}

.editor-section--control-top input,
.editor-section--control-top a,
.editor-section--control-bottom a,
.video-script-section textarea,
.video-script-section .use-template-btn,
.video-script-section input,
.video-script-section .bottom-control,
.offer .cancel,
.offer .next,
.video-script-section .export{
    padding: 0.7rem 0.9rem;
    font-size: 18px;
    display: inline-block;
}

.editor-section--control-top input,
.video-script-section textarea,
.video-script-section input{
    border: 1px solid #CDC6FF;
}

.editor-section--control-top input:focus,
.video-script-section textarea:focus,
.video-script-section input:focus,
.offer .tab-body input:focus, 
.offer .tab-body textarea:focus,
.section--template [contenteditable = true]:focus{
    outline: 1px solid #4834D4;
}



.editor-section--control-top input::placeholder,
.video-script-section textarea::placeholder,
.video-script-section input::placeholder,
.offer .tab-body input::placeholder,
.offer .tab-body textarea::placeholder{
    color: #4834D4;
    opacity: 0.5;
}

.editor-section--control-top a{
    float: right;
}

.editor-section--control-top a.first,
.editor-section--control-bottom a.first,
.editor-section--control-bottom a.second,
.video-script-section .bottom-control,
.offer .next,
.video-script-section .export{
    background-color: #4834D4;
    color: #FEFEFE;
    border-radius: 4px;
    margin-right: 1.5rem;
    letter-spacing: 0.0125em;
    font-family: Karla;
}

.editor-section--control-bottom{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.editor-section--control-top a.second,
.video-script-section .use-template-btn, 
.offer .cancel{
    background-color: #F29401;
    border-radius: 4px;
    letter-spacing: 0.0125em;
    font-family: Karla;
    color: #FEFEFE;
}

.editor{
    min-height: 30%;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.ql-editor{
    white-space: normal;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.ql-container{
    height: unset;
}

/*quill editor menu*/
.ql-toolbar.ql-snow {
    background-color: #ffffff;
    border: 1px solid #CDC6FF;
}
/*float code block to the right*/
.ql-toolbar.ql-snow .ql-formats:last-child{
    float: right;
    margin-right: 20px;
}



.editor-section--control-bottom a.second,
.video-script-section .bottom-control{
    color: #4834D4;
    border: 1px solid #4834D4;
    background-color: #ffffff;
}

/*add section*/
.editor-section-overlay,
.video-script-section-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(25, 24, 71, 0.2);
    display: none;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;
}

.editor-section-overlay--add-section,
.editor-section-overlay--add-template,
.video-script-templates{
    background-color: #ffffff;
    position: absolute;
    right: 1rem;
    top: 2rem;
    width: 35%;
    padding: 0 0 0 2rem;
    transition: transform 0.5s ease-out;
    transform: translateX(120%);
}


.editor-section-overlay--add-section .heading,
.editor-section-overlay--add-template .heading,
.video-script-templates .heading{
    height: 2.5rem;   
    display: flex;
    align-items: center;
    position: relative;
}

.editor-section-overlay--add-section .heading span,
.editor-section-overlay--add-template .heading span,
.video-script-templates .heading span{
    font-size: 15px;
    color: #4834D4;
    font-weight: 600;   
}

.editor-section-overlay--add-section .close,
.editor-section-overlay--add-template .close,
.video-script-templates .close
{
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section,
.video-script-template{
    padding-right: 7%;
    position: relative;
}

.section--name,
.video-script-template .heading,
.video-script-template .heading{
    display: flex;
    color: #191847;
    align-items: center;
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    z-index: 50;
    font-size: 15px;
}

.section--name .arrow,
.video-script-template .arrow{
    position: absolute;
    right: 0;
}

/*for clicks*/
.section--templates,
.video-script-template--body{
    display: none;
    background-color: #ffffff;
    left: -7.9%;
    z-index: 100;
    font-size: 14px;
    overflow-y: visible;
}

.section--template 
[contenteditable = true]{
    min-width: 50px;
    display: inline-block;
    height: 30px;
    background-color: yellow;
}

.section--template 
[contenteditable = true].yellow{
    background-color: yellow;
    min-width: 50px;
}

.section--template 
[contenteditable = true].white{
    background-color: transparent;
}


/* .section--template 
[contenteditable = true]:empty:not(:focus)::before{
    background-color: yellow;
    content: ".......";
    z-index: 50;
    padding: 0 9px;
    pointer-events: none;
} */

.open{
    display: block;
}

.add-border-bottom{
    border-bottom: 1px solid #4834D4;
}

.rotate-90deg{
    transform: rotate(90deg);
}

.slide-in{
    transform: translateX(0);
}

.display{
    display: block;
}

/*Clearfloat*/
.clearfix::after{
    content: "";
    visibility: hidden;
    height: 0;
    clear: both;
    display: block;
}

.section--templates--control-bottom{
    margin: 4rem 0 3rem;
}

.section--templates--control-bottom a{
    border-radius: 4px;
    padding: 0.8rem 2rem;
    margin-right: 1rem;
    font-weight: bold;
}

.section--templates--control-bottom .templates-back{
    background-color: #F29401;
    color: #ffffff;
}

.section--templates--control-bottom .templates-close{
    border: 1px solid #4834D4;
    color: #4834D4;
}

.editor-section-overlay--download-option{
    position: absolute;
    top: 50%;
    left: 120%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 20%;
    padding: 1rem;
    transition: left 0.5s ease-out;
}

.editor-section-overlay--download-option.slide-in{
    left: 50%;
}

.editor-section-overlay--download-option h4{
    color: #4834D4;
    display: inline-block;
    margin-top: 0;
}

.editor-section-overlay--download-option .close{
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 30%;
}


.editor-section-overlay--download-option a{
    display: inline-flex;
    width: auto;
    font-weight: bold;
    font-family: Karla;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 0 10px;
}

.editor-section-overlay--download-option a.word{
    background-color: #2B579A;
}

.editor-section-overlay--download-option a.pdf{
    background-color: #EC1C24;
}

.editor-section-overlay--download-option a svg{
    width: 18px;
    fill: #ffffff;
    padding: 0 3px;
}

/*saved-scripts*/
.saved-scripts{
    padding: 3% 8% 3%;
}

.saved-scripts .script{
    background: #FFFFFF;
    border-radius: 30px;
    padding: 2% 4%;
}

.saved-scripts .script--title{
    font-size: 18px;
}

.saved-scripts .script--body{
    font-size: 14px;
}

.saved-scripts a{
    font-size: 22px;
    margin-left: 1%;
    color: #4834D4;
}

.saved-scripts svg:hover{
    transform: scale(2,2);
}


/*Offer Generator*/
.offer-generator-section .status-create-offer{
    padding-top: 1rem;
}

.offer-generator-section .status{
    display: inline-grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    height: 7rem;
}

.offer-generator-section .status{
    background: #3B4567;
    width: 30rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.02);
    border-radius: 20px
}

.offer-generator-section .status.status--fixed{
    position: fixed;
    z-index: 10;
    top: 3px;
}

.offer-generator-section .status>div:nth-child(1){
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.02);
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-generator-section .status>div:nth-child(2),
.offer-generator-section .status>div:nth-child(3){
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    position: relative;

}

.offer-generator-section .status>div:nth-child(4){
    overflow: hidden;
    position: relative;
}

.offer-generator-section .status div:nth-child(2) p,
.offer-generator-section .status div:nth-child(3) p{
    margin: 5px 0 5px;
    color: #F5F6F9;
}

.offer-generator-section .status div:nth-child(2) p:nth-child(2),
.offer-generator-section .status div:nth-child(3) p:nth-child(2){
    color: #4834D4;
}

.offer-generator-section hr{
    position: absolute;
    right: 0;
    top: 40%;
    width: 20%;
    transform: rotate(90deg);
    border: 1px solid #F5F6F9;
    opacity: 0.2;
}

.offer-generator-section form{
    padding: 0 6%;
}

.offer-generator-section .status>div:nth-child(4) .stated-status{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F6F9;
    padding-top: 10%;
}

.offer-generator-section .create{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #4834D4;
    border-radius: 4px;
    padding: 10px 30px;
    font-family: Karla;
    color: #FEFEFE;
    letter-spacing: 0.0125em;
    font-weight: bold;
    font-size: 18px;
}

.offer-generator-section .status>div:nth-child(4) .stated-status svg{
    margin-left: 10%;
}

.Weak path:nth-child(1){
    fill: #F2C94C;
    opacity: 0.3;
}

.Poor path:nth-child(1){
    fill: #FF5C00;
    opacity: 0.3;
}

.Empty path:nth-child(1){
    fill: rgba(72, 52, 212, 0.3)
}

.Empty >svg{
    padding-top: 25%;
}


.offer{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.02);
    position: relative;
    margin: 2rem 0;
    transition: left 0.5s ease-in;
    left: -120%;
}

.offer .heading{
    height: 3rem;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
}

.offer .close{
    position: absolute;
    right: 0;
    top: 0;
    height: 3rem;
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer .tab-heading{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #F5F6F9;
    margin: 1rem 0;
    border-top: 0.5px solid #CDC6FF;
    border-bottom: 0.5px solid #CDC6FF;
    padding: 1rem 0;
}

.offer .tab-heading .purple{
    opacity: 1;
    color: #4834D4;
}

.offer .tab-heading>div{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #828282;
    opacity: 0.4;
}

.drop-cap{
    font-size: 50px;
    float: left;
    padding-right: 8px;
}

.offer .tab-body{
    background: #F5F6F9;
    padding: 2% 5%;
}

.offer .tab-body input,
.offer .tab-body textarea{
    display: block;
    width: 50%;
    height: 2rem;
    font-size: 18px;
    border: 1px solid #CDC6FF;
    margin: 0.5rem 0;
    padding: 5px 3%;
}

.offer .tab-body textarea{
    height: 10rem;
}

.offer .error-message{
    color: #EB5757;
    visibility: hidden;
}

.offer .cancel,
.offer .next{
    float: right;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 10px 30px;
    font-weight: bold;
}

.offer .next{
    margin-right: 0;
}

.offer .step3 .tab-body{
    margin-top: 0;
    padding-top: 0;
}

.offer .step3 .tab-body{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-right: 0;
    padding-bottom: 2rem;
}

.offer .step3 .offerings-list{
    background: #FFFFFF;
    border: 1px solid #CDC6FF;
    border-right: 0;
    padding: 1rem 0;
    height: 30rem;
    overflow-y: auto;
}

.offer .step3 p{
    display: flex;
    align-items: center;
    margin: 0;
}

.offer .step3 .offerings-list input{
    visibility: hidden;
    width: 6%;
    margin-left: 1rem;
    margin-right: 2rem;
    position: relative;
}

.offer .step3 .offerings-list input::after{
    content: url(assets/checkbox.png);
    position: absolute;
    top:18%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
}

.offer .step3 input{
    display: inline-block;
}

.offer .step3 .offerings-list-cover{
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 97% 3%;
}

.offer .step3 .offerings-list::-webkit-scrollbar,
.offer .step3 .chosen-offerings::-webkit-scrollbar,
.offer .step4 .tab-body::-webkit-scrollbar {
    width: 5px;
    margin-right: 100px;
  }
  
  /* Track */
.offer .step3 .offerings-list::-webkit-scrollbar-track,
.offer .step3 .chosen-offerings::-webkit-scrollbar-track,
.offer .step4 .tab-body::-webkit-scrollbar-track{
    background: transparent;
  }
  
  /* Handle */
.offer .step3 .offerings-list::-webkit-scrollbar-thumb,
.offer .step3 .chosen-offerings::-webkit-scrollbar-thumb,
.offer .step4 .tab-body::-webkit-scrollbar-thumb{
    background: #E5E9EE;
    border-radius: 30px;
}

.offer .step3 .offerings-list-cover .scroll-push{
    background-color: #ffffff;
    border: 1px solid #CDC6FF;
    border-left: 0;
}

.offer .step3 .chosen-offerings-cover{
    display: grid;
    grid-template-columns: 98% 2%;
    margin-left: 8%;
    margin-top: 0.5rem;
}

.offer .step3 .chosen-offerings{
    padding-top: 2.5rem;
}

.offer .step3 .chosen-offerings{
    height: 32rem;
    overflow-y: auto;
}



.offer .step3 .chosen-offerings label{
    display: block;
}

.offer .step3 .chosen-offerings input[type=number]{
    width: 15%;
    margin-left: 5%;
}


.offer .step4 .tab-body{
    padding-right: 6px;    
}

.offer .step4 input{
    display: inline-block;
    width: unset;
}

.offer .step4 input[type=number]{
    width: 3.5rem;
    margin-left: 2rem;
    margin-right: 10px;
}

.offer .step4 input[type=text]{
    width: 14rem;
}

.offer .step4 .add-bonus{
    display: flex;
    align-items: center;
}

.offer .step4 .add-bonus span,
.offer .step4 .remove-bonus span{
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    padding: 0;
    line-height: 30px;
    width: 2rem;
    margin-right: 10px;
    cursor: pointer;
}

.offer .step4 .remove-bonus{
    display: inline-block;
}

.offer .step4 .remove-bonus span{
    line-height: 1.5rem;
    width: 1.5rem;
    padding-left: 3px;
}

/*offer-generator dynamic classes*/ 
.offer.slide-in,
.offer.script-view{
    left: 0;
}

.offer .error-message.visible{
    visibility: visible;
}

#step3 .visible{
    visibility: visible;
}

/*offer script section*/
.offer-script{
    padding: 0;
}
.offer-script .tagline{
    background: linear-gradient(90deg, #4776E6 13.04%, #8E54E9 100%);
    height: 7rem;
    padding-top: 2rem;
    padding-left: 6%;
    color: #ffffff;
    position: relative;
    overflow-y: auto;
}

.offer-script .tagline p{
    margin-left: 2%;
    font-size: 12px;
    color: #000000;
}

.offer-script .tagline .close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    background: #FFFFFF;
    height: 2.5rem;
    width: 7%;
}

.offer-script h3{
    color: #4834D4;
}

.offer-script .tagline .close svg{
    width: 60%;
}

.user-generated{
    background: #FFFFFF;
    padding:  5%;
}

.offer-script .user-generated div:nth-child(1){
    border-bottom: 1px solid #E5E5E5;
}

.offer-script .user-generated div:nth-child(1) p{
    margin-left: 1rem;
}

.offer-script table{
    width: 100%;
}

table, th, td{
    border-collapse: collapse;
    padding-left: 5%;
}

td{
    padding-left: 5%;
}

.offer-script thead{
    background: #191847;
    color: #ffffff;
    height: 5rem;
}

.offer-script thead th{
    position: relative;
    height: 3rem;
    text-align: left;
}

.offer-script thead hr{
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    width: 1.5rem;
    background-color: #F5F6F9;
    top: 35%;
}

.offer-script tr td{
    height: 2rem;
    font-size: 15px;
}

.offer-script .table tr td:nth-child(1){
    background: #F1F2F5;
    width: 80%;
}

.offer-script tr td:nth-child(1).light{
    background: #F5F6F9;
}

.offer-script .table tr td:nth-child(2){
    background: #FAFAFA;
    color: #4834D4;
    width: 20%;
}

.offer-script .table-bottom,.offer-script .value{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #F1F2F5;
    padding-right: 20%;
    font-size: 16px;
    height: 2rem;
    margin-top: 1rem;

}

.offer-script .bonus-table td{
    background: unset;
    padding: 0;

}

.offer-script .bonus-table td:nth-child(1){
    width: 85%;
    padding-left: 1rem;
}

.offer-script .bonus-table td:nth-child(2){
    color: #4834D4;
    width: 25%;
}

.offer-script .buttons{
    float: right;
    font-family: Karla;
    margin-top: 1rem;
}

.offer-script .buttons .save{
    color: #ffffff;
    background: #4834D4;
    border-radius: 4px;
    padding: 10px 30px;
    margin-right: 1rem;
    display: inline-block;
}

.offer-script .buttons .export{
    color: #4834D4;
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 30px;
    display: inline-block;
}

.success-message-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/sitting\ human.png);
    background-repeat: no-repeat;
    background-position: right;
}

.success-section{
    text-align: center;
    transform: translateY(-30%);
}

.success-section svg{
    fill:#191847;
    width: 10rem;
    height: 10rem;
}

.success-message{
    color: #008000;
}

.success-message-section .view{
    display: inline-block;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #191847;
    border-radius: 4px;
    background-size: contain;
}